# Facebook Prophet

### Обучение модели Facebook

install packages

In [3]:
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
from matplotlib import gridspec
import pandas as pd
import math
import pandas.tseries.offsets as ofs
from scipy import stats
import statsmodels.api as sm
from statsmodels.tsa import stattools

import warnings as w
import plotly as py

%matplotlib inline
from fbprophet import Prophet
import logging
logging.getLogger('fbprophet').setLevel(logging.ERROR)
import warnings
warnings.filterwarnings("ignore")

Загрузка данных

In [5]:
data= pd.read_csv('dataset1_with_outliers_data.csv')
data.info

<bound method DataFrame.info of               ds         y
0     2008-01-30  5.976351
1     2008-01-16  6.049733
2     2008-01-17  6.011267
3     2008-01-14  5.953243
4     2008-01-15  5.910797
...          ...       ...
2858  2015-12-11  7.834788
2859  2015-12-12  7.360104
2860  2015-12-13  7.479864
2861  2015-12-18  7.765145
2862  2015-12-19  7.220374

[2863 rows x 2 columns]>

In [6]:
data.head()

           ds         y
0  2008-01-30  5.976351
1  2008-01-16  6.049733
2  2008-01-17  6.011267
3  2008-01-14  5.953243
4  2008-01-15  5.910797

In [15]:
data.head(90).isnull()

       ds      y
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10  False  False
11  False  False
12  False  False
13  False  False
14  False  False
15  False  False
16  False  False
17  False  False
18  False  False
19  False  False
20  False  False
21  False  False
22  False  False
23  False  False
24  False  False
25  False  False
26  False  False
27  False  False
28  False  False
29  False  False
30  False  False
31  False  False
32  False  False
33  False  False
34  False  False
35  False  False
36  False  False
37  False  False
38  False  False
39  False  False
40  False  False
41  False  False
42  False  False
43  False  False
44  False  False
45  False  False
46  False  False
47  False  False
48  False  False
49  False  False
50  False  False
51  False  False
52  False  False
53  False  False
54  False  False
55  False  False
56  False  False
57  False  False
58  False  False
59  False  False